@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Playfair Display", serif;
  --font-body: "Work Sans", sans-serif;

  --color-surface: #fff8f1;
  --color-surface-dim: #fcd67a;
  --color-surface-bright: #fff8f1;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #fff2dc;
  --color-surface-container: #ffecc6;
  --color-surface-container-high: #ffe6af;
  --color-surface-container-highest: #ffdf96;
  --color-on-surface: #251a00;
  --color-on-surface-variant: #42484b;
  --color-inverse-surface: #3e2e00;
  --color-inverse-on-surface: #ffefd1;
  --color-outline: #72787b;
  --color-outline-variant: #c1c7cb;
  --color-surface-tint: #436370;
  --color-primary: #0c303c;
  --color-on-primary: #ffffff;
  --color-primary-container: #264653;
  --color-on-primary-container: #93b3c3;
  --color-inverse-primary: #abcbdb;
  --color-secondary: #006a60;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #8cf5e4;
  --color-on-secondary-container: #007166;
  --color-tertiary: #590f00;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #7c2109;
  --color-on-tertiary-container: #ff9074;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  
  --spacing-container-max: 1280px;
  --spacing-margin-desktop: 64px;
  --spacing-margin-mobile: 20px;
}

@layer base {
  body {
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    font-family: var(--font-body);
    margin: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
  }
}